* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.logo {
    cursor: pointer;
    background-color: #022d36;
    height: 50px;
    width: 175px;  
}
button {
    padding: 8px 20px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    transition: all 1s ease 0s;
    float: left;
}
button:hover {
    background-color: #24252A;
}
.header {
    border: 0px solid black;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    padding: 30px 10%;
    background-color: #022d36;
    justify-content: space-between;
    align-items: center;
    float: left;
}
.content {
    border: 0px solid black;
    width: 100%;
    height: 1000px;
    color: white;
    background-color: #1e3442;
    overflow: hidden;
    display: flex;
}
.downpage {
    border: 0px solid black;
    height: 100px;
    width: 100%;
    padding: 0px;
    color: white;
    background-color: #022d36;
}
body {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
}
nav {
    float: left;
    display: inline-block;
}
.navbar-right li {
    display: inline-block;
    transition: all 1s ease 0s;
    position: relative;
    margin: 6px;
}
.navbar-right li::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: white;
    display: block;
    position: absolute;
    left: 0px;
    bottom: -21px;
    opacity: 0;
    transition: all 1s ease 0s;
    pointer-events: none;
}
.navbar-right li:hover::after {
    opacity: 1;
}
.top-season-anime {
    border: 1px solid black;
    width: 100%;
    height: 300px;
    overflow: hidden;
    
}
.sidebar {
    border: 1px solid black;
    height: 1000px;
    width: 185px;
}
.nr-1 {
    padding: 22px 4px;
}
.nr-2 {
    padding: 22px 4px;
}
.nr-3 {
    padding: 22px 4px;
}
.nr-4 {
    padding: 22px 4px;
}
.nr-5 {
    padding: 22px 4px;
}
.nr-6 {
    padding: 22px 4px;
}
.text-nr1{
    display: inline-flex;
}
.text-nr2{
    display: inline-flex;
}
.text-nr3{
    display: inline-flex;
}
.text-nr4{
    display: inline-flex;
}
.text-nr5{
    display: inline-flex;
}
.text-nr6{
    display: inline-flex;
}
@media screen and (max-width: 803px)
{
    
}